/*--1150px--*/
@media (max-width:1150px){
    .mainText{
        background-color: rgba(28, 28, 30, 0.7);
        border-radius:5px;
    }
}
/*--950px--*/
@media (max-width:950px){
    /*--MENU--*/
    #nav ul{
        justify-content: space-around !important;
    }
    #nav ul li {
        margin-right: 0 !important;
    }
    /*--SKILLS--*/
    .skill {
        width: 40%; 
    }
    /*--PROJECTS--*/
    #projects .wrapper {
        flex-direction: column;
    }
    #projects h3{
        padding-bottom:0 !important;
    }
    .project {
        min-width:100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding:0 !important;
    }
    .left {
        min-width:60%;
        order:2;
        margin-right:0 !important;
    }
    .right{
        min-width:65%;
        order:1;
        margin-bottom:20px;
        margin-top:40px;
    }
    
    /*--ABOUT ME--*/
    #aboutMe .wrapper{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .about{
        min-width:80%;
    }
    .cv{
        min-width:80%;
    }
    .about figure img{
        border-radius:50% !important;
    }
    /*--FOOTER--*/
    footer{
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 700px !important;
    }
    input{
        width:100% !important;
    }
    textarea{
        width:100% !important;
    }
    .form{
        order:1;
        width:70% !important;
    }
    .usefulLinks {
        order:2;
    }
    .usefulLinks ul{
        padding-top:30px !important;
    }
    .fab {
        margin-right:15px;    
    }
    #socials {
        margin-left:35px;
        margin-bottom:20px;
    }
}
/*--600px--*/
@media (max-width:600px) {
    /*--SKILLS--*/
    .skill {
        width: 100%; 
    }
    /*ABOUT ME*/
    .cv a {
        width:40% !important;
    }
    /*--MAIN DIV--*/
    #main{
        justify-content: center !important;
        text-align: center;
    }
    .mainText {
        margin-bottom:10px !important;
    }
    /*--MENU--*/
    #nav {
        position:relative !important;
        padding-top:5px !important;
        height:120px !important;
    }
    #nav ul{
        flex-direction: column;
        text-align: center;
    }
    #nav ul li{
        margin-bottom:5px !important;
    }
    .fab {
        margin-right:15px;    
    }
    #socials {
        margin-left:35px;
        margin-bottom:20px;
    }
    
}
@media (max-width:480px){
    /*--MAIN DIV--*/
    .mainText h1 {
        font-size: 2.3em !important;
    }
    .mainText h2 {
        font-size: 1.3em !important;
    }
    /*--PROJECTS--*/
    /*--ABOUT--*/
    .about figure img{
        height:250px !important;
    }
    .cv a {
        padding-bottom:15px !important;
    }
    /*--FOOTER--*/
    .fab {
        margin-right:15px;    
    }
    #socials {
        margin-left:35px;
        margin-bottom:20px;
    }
    .footer h3 {
        font-size: 1.5em !important;
    }
}
