* {
  padding: 0px;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: monospace;
  /*---- NAVIGACIJA ----*/
  /*---- Main Div ----*/
  /*------SKILLS -------*/
  /*---PROJECTS---*/
  /*--PROJECTS END--*/
  /*--ABOUT ME--*/
  /*--ABOUT ME END--*/
  /*--STRELICA ZA UP--*/
  /*--STRELICA ZA UP END--*/
  /*--FOOTER--*/
}

body li {
  list-style-type: none;
}

body a {
  text-decoration: none;
  color: #FFF;
}

body #nav {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: #1A1A1C;
  -webkit-box-shadow: 1px 1px 8px #000;
          box-shadow: 1px 1px 8px #000;
  z-index: 999;
}

body #nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1.4%;
}

body #nav ul li {
  list-style-type: none;
  margin-right: 6%;
}

body #nav ul li a {
  font-weight: bold;
  font-size: 1.4em;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

body #nav ul li a:hover {
  border-bottom: 2px solid #FFF;
  padding-bottom: 3px;
}

body #main {
  background-image: url("../images/apple-black-and-white-desk-129208.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #main .mainText {
  color: #FFF;
  padding: 4%;
  /* --- Efekat Kucanja --- */
  /* --- Blinkovanje bordera --- */
}

body #main .mainText h1 {
  font-size: 3.2em;
  margin-bottom: 2%;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid #FFF;
  -webkit-animation: typing 3s steps(40, end), blink 0.5s step-end infinite;
          animation: typing 3s steps(40, end), blink 0.5s step-end infinite;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #FFF;
  }
}

@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #FFF;
  }
}

body #main .mainText h2 {
  font-size: 2em;
  margin-bottom: 15%;
}

body #main .mainText .button a {
  border: 3px solid #fff;
  padding: 4%;
  font-size: 2em;
  border-radius: 8px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

body #main .mainText .button i {
  font-size: 0.6em;
  overflow: hidden;
  visibility: hidden;
}

body #main .mainText .button .button:hover i {
  position: relative;
  visibility: visible;
  -webkit-animation: bestimg 0.3s;
          animation: bestimg 0.3s;
}

@-webkit-keyframes bestimg {
  from {
    opacity: 0;
    left: -13px;
  }
  to {
    opacity: 1;
    left: 0px;
  }
}

@keyframes bestimg {
  from {
    opacity: 0;
    left: -13px;
  }
  to {
    opacity: 1;
    left: 0px;
  }
}

body #skills {
  margin-top: 5%;
}

body #skills h3 {
  text-align: center;
  display: inline-block;
  width: 100%;
  font-size: 2em;
  padding-top: 20px;
  margin-bottom: 70px;
}

body #skills h3 .underline {
  border-bottom: 3px solid #000;
  padding-bottom: 10px;
}

body #skills .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body #skills .skill {
  font-size: 1.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

body #skills .pieChart {
  width: 200px;
  height: 200px;
  border: 2px solid #000;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9em;
  /*---Animacija za pie chart (Kroz transition)---*/
}

body #skills .pieChart h4 {
  z-index: 2;
}

body #skills .pieChart .chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 190px;
  width: 190px;
  background-color: #A7A7A7;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body #skills .pieChart .chart:hover {
  height: 120px;
  width: 120px;
  background-color: #A7A7A7;
}

body #skills .pieChart .chart2 {
  height: 180px;
  width: 180px;
}

body #skills .pieChart .chart3 {
  height: 170px;
  width: 170px;
}

body #skills .pieChart .chart4 {
  height: 150px;
  width: 150px;
}

body #skills .pieChart h4 {
  margin-bottom: 10px;
}

body #skills .pieChart p {
  font-weight: bold;
}

body #projects h3 {
  text-align: center;
  display: inline-block;
  width: 100%;
  font-size: 2em;
  margin-bottom: 70px;
  padding-top: 50px;
}

body #projects .underline {
  border-bottom: 3px solid #000;
  padding-bottom: 10px;
}

body #projects .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body #projects .project {
  width: 40%;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body #projects .project h4 {
  padding-bottom: 20px;
  font-size: 1.4em;
}

body #projects .project h4 label {
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
}

body #projects .project p {
  font-size: 1.2em;
  padding-top: 15px;
  padding-bottom: 50px;
}

body #projects .project a {
  border: 3px solid #000;
  padding: 4%;
  font-size: 1.3em;
  border-radius: 8px;
  white-space: nowrap;
  background-color: #000;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

body #projects .project a:hover {
  background-color: #4F5052;
  border: 3px solid #4F5052;
}

body #projects .project .left {
  margin-right: 5%;
  width: 50%;
}

body #projects .project .right {
  height: 300px;
  background-color: #000;
  width: 50%;
  border: 1px solid none;
  border-radius: 2%;
}

body #projects .project .right figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #projects .project .right figure img {
  padding-top: 60px;
  height: 160px;
}

body #aboutMe h3 {
  text-align: center;
  display: inline-block;
  width: 100%;
  font-size: 2em;
  padding-top: 20px;
  margin: 40px 0 70px 0;
}

body #aboutMe .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body #aboutMe .wrapper .about {
  width: 50%;
  text-align: center;
}

body #aboutMe .wrapper .about figure img {
  width: auto;
  border: 1px none #000;
  border-radius: 2%;
  height: 400px;
}

body #aboutMe .wrapper .cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #aboutMe .wrapper .cv .textWrap {
  margin-top: 20px;
  width: 90%;
}

body #aboutMe .wrapper .cv .textWrap p {
  font-size: 1.5em;
  line-height: 1.5em;
}

body #aboutMe .wrapper .cv a {
  height: 40px;
  width: 30%;
  font-size: 1.6em;
  padding-top: 15px;
  margin-top: 25px;
  color: #000;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: solid 2px #000;
}

body #aboutMe .wrapper .cv a:hover {
  background-color: #000;
  color: #fff;
}

body #aboutMe .wrapper .cv #socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body #aboutMe label {
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
}

body #up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 1% 3% 0;
}

body #up i {
  font-size: 40px;
  color: #4d4d4d;
  margin-bottom: 20px;
  position: fixed;
  bottom: 0px;
}

body #up i:hover {
  color: #A7A7A7;
}

body footer {
  height: 400px;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /*--FORMA--*/
}

body footer .usefulLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .usefulLinks ul {
  font-size: 1.4em;
  line-height: 2em;
  padding-top: 60px;
}

body footer .usefulLinks ul li a:hover {
  color: #A7A7A7;
}

body footer .usefulLinks #socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  margin-right: 20px;
}

body footer .usefulLinks #socials .fab {
  color: #fff;
  margin-top: 10px;
  font-size: 30px;
}

body footer .usefulLinks #socials .fab:hover {
  color: #A7A7A7;
}

body footer .footer {
  width: 45%;
}

body footer h3 {
  color: #fff;
  text-align: center;
  font-size: 2em;
  padding-top: 20px;
}

body footer h3 label {
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
}

body footer .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 340px;
}

body footer .form input {
  font-size: 1em;
  width: 85%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: #fff;
  border: solid 1px #fff;
}

body footer .form input:focus {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-color: #1A1A1C;
}

body footer .form ::-webkit-input-placeholder {
  color: #A7A7A7;
  font-family: monospace;
  font-size: 1.3em;
}

body footer .form :-ms-input-placeholder {
  color: #A7A7A7;
  font-family: monospace;
  font-size: 1.3em;
}

body footer .form ::-ms-input-placeholder {
  color: #A7A7A7;
  font-family: monospace;
  font-size: 1.3em;
}

body footer .form ::placeholder {
  color: #A7A7A7;
  font-family: monospace;
  font-size: 1.3em;
}

body footer .form .text {
  border-bottom: none;
}

body footer .form #submit {
  border-top: none;
  cursor: pointer;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

body footer .form #submit:hover {
  background-color: #1A1A1C;
}

body footer .form textarea {
  width: 85%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 110px;
  resize: none;
  padding: 10px 15px 0px 15px;
  outline: none;
  background: transparent;
  color: #fff;
  border: solid 1px #fff;
}

body footer .form textarea:focus {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-color: #1A1A1C;
}
/*# sourceMappingURL=style.css.map */
